h2 {
  background-color: #83FFCC;
  width: max-content;
}

h3 {
  padding-bottom: 30px;
}

li {
  list-style-type: none;
  padding: 5px;
}

ul {
  padding-left: 0px;
}

i {
  color: #83FFCC;
  font-size: 35px;
}
