<div class="footer">
  <h2>Thanks for passing by!</h2>
  <div class="footer-links">
    <a href="https://github.com/Danrod16"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/daniel_rrsr/"><i class="fab fa-instagram"></i></a>
    <a href="https://twitter.com/Daniel_RRSR"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/daniel-rodriguez-romero/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This site was made with <i class="fas fa-heart"></i> by Daniel Rodriguez
  </div>
</div>
