<div class="banner">
  <div class="container">
    <h1>Hello, I'm <strong style="color:#83FFCC">Daniel Rodriguez</strong></h1>
    <h3>Full-stack web developer and digital merketer</h3>
    <h4 style="border-left-style: solid; border-color: white; padding-left: 10px;">I help entrepreneurs and change makers find & tell their story</h4>

    <nav class="nav">
      <a class="nav-link active" style="color: gray;" href="#">I'll help you</a>
      <a class="nav-link" style="color: gray;" href="#">About</a>
      <a class="nav-link" style="color: gray;" href="#">Portfolio</a>
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </nav>
  </div>
</div>
<div class="container">
  <div class="layout-grid">
    <div class="cell">
      <h2>I'll help you</h2>
    </div>
    <div class="cell">
      <h3>from the napkin to the top!</h3>
        <p>You know which one I’m speaking about? The one you wrote
        with bullet points while thinking
        <br>
        <br>
        “Why did no one ever came up with this idea BEFORE?!”</p>
      <h3>A full on Manicure</h3>
        <p>I will go further with details <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex nobis voluptatibus sapiente ratione blanditiis quisquam! Reiciendis, dicta, facere. Eius expedita, a exercitationem iure dolorem! Ipsa, aliquid totam qui veniam suscipit.</span><span>Mollitia consectetur, amet quod sint ullam eligendi eaque quia omnis cum sunt illum ea, tempore fuga ducimus at eos minima et praesentium architecto id facilis maiores beatae earum excepturi. Voluptatibus!</span></p>
    </div>
    <div class="cell">
      <h2>About me</h2>
    </div>
    <div class="cell">
      <h3>A worldwide inspired thinking</h3>
        <p>Spanish Mexican, French startup Junky,
        I have lived in more than 7 countries which gave me a
        worldwide inspiration to design <p>
        <span>Velit recusandae tempore quisquam quos pariatur vero consequuntur, provident, molestias laborum tenetur, perspiciatis officia iste natus veritatis? Enim, id delectus, exercitationem, eligendi maxime saepe rerum optio ipsum unde voluptatem similique!</span></p>
    </div>
    <div class="cell">
      <img src="https://res.cloudinary.com/therainycloud/image/upload/v1577403402/Untitled_design_22_jt8hhj.png" alt="Where is Daniel Rodriguez now?">
    </div>
     <div class="cell">
       <h3>The story</h3>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium laudantium, fugiat ducimus voluptatem. Explicabo totam tempora est, earum libero quasi cum nesciunt magni asperiores commodi veritatis, nobis! Saepe, officiis, accusamus.</span>
        <span>Incidunt nesciunt doloremque error voluptates, ducimus rem repellat earum assumenda magnam quas quaerat non omnis at, eveniet, cum itaque totam natus alias adipisci ea est commodi? Consequuntur voluptatem, voluptas debitis!</span>
        </p>
     </div>
     <dv class="cell">

     </dv>
     <div class="cell">
       <h3>Skills & Languages</h3>
        <ul style="list-style: inline;">
          <li><i class="fab fa-html5"></i>
          <li>Html & CSS</li>
          <li><i class="fab fa-js"></i></li>
            <li>JavaScript</li>
          <li><i class="far fa-gem"></i></li>
            <li>Ruby on Rails</li>
          <li><i class="fas fa-stream"></i></li>
            <li>Web positioning SEO/SEM</li>
          <li><i class="fas fa-paint-brush"></i></li>
            <li>Design</li>
          <li><i class="fas fa-language"></i></li>
            <li>Spanish/French/English</li>
          <li><i class="fas fa-hashtag"></i></li>
            <li>Community management</li>

        </ul>
     </div>

  </div>
    <h2 style="margin: 91px auto;">portfolio</h2>
    <div class="layout-grid">
      <div class="cell">
        <img src="" alt="#">
      </div>
      <div class="cell">
        <img src="" alt="#">
      </div>
    </div>
</div>


