<div class="banner">
  <div class="container">
    <h1>Hello, I'm <strong style="color:#83FFCC">Daniel Rodriguez</strong></h1>
    <h3>Full-stack web developer and digital merketer</h3>
    <h4 style="border-left-style: ; border-color: white; padding-left: 10px;">I help change makers find & tell their story</h4>
    <nav class="nav">
      <a class="nak active" style="color: gray;" href="#">I'll help you</a>
      <a class="nak" style="color: gray;" href="#">About</a>
      <a class="nak" style="color: gray;" href="#">Port</a>
      <a class="nak disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </nav>
  </div>
</div>
<div class="container" style="margin-top: 100px;">
  <div class="layout-grid">
    <div class="cell">
      <h2>I'll help you</h2>
    </div>
    <div class="cell">
      <h3>from the napkin to the top!</h3>
        <p>You know which one I’m speaking about? The one you wrote
        with bullet points while thinking
        <br>
        <br>
        “Why did no one ever came up with this idea BEFORE?!”</p>
      <h3>A full on Manicure</h3>
        <p>I will go further with details <span>Lorem ipsum dolor sit amet, consectetur adipisicing. Ex nobis voluptatibus sapiente ratione blanditiis quisquam! Reiciendis, dicta, facere. Eius expedita, a exercitationem iure dolorem! Ipsa,uid totam qui veniam suscipit.</span><span>Mia consectetur, amet quod sint ullamendi eaque quia omnis cum sunt illum ea, tempore fuga ducimus at eos minima et praesentium architecto id fa maiores beatae earum excepturi. Voluptatibus!</span></p>
    </div>
    <div class="cell">
      <h2>About me</h2>
    </div>
    <div class="cell">
      <h3>A worldwide inspired thinking</h3>
        <p>Spanish Mexican, French startup Junky,
        I haved in more than 7 countries which gave me a
        worldwide inspiration to design <p>
        <span> recusandae tempore quisquam quos pariatur vero consequuntur, provident, molestias laborum tenetur, perspiciatis officia iste natus veritatis? Enim, id delectus, exercitationem,endi maxime saepe rerum optio ipsum unde voluptatem siue!</span></p>
    </div>
    <div class="cell">
      <img src="https://res.cloudinary.com/therainycloud/image/upload/v1577403402/Untitled_design_22_jt8hhj.png" alt="Where is Daniel Rodriguez now?">
      <p style="text-align: center; margin-top: 15px;">Currently in <strong style="background-color:#83FFCC; color: black;">Barcelona</strong></p>
    </div>
     <div class="cell">
       <h3>The story</h3>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing. Accusantium laudantium, fugiat ducimus voluptatem. Eabo totam tempora est, earuero quasi cum nesciunt magni asperiores commodi veritatis, nobis! Saepe, officiis, accusamus.</span>
        <span>Incidunt nesciunt doloremque error voluptates, ducimus rem repelrum assumenda magnam quas quaerat non omnis at, eveniet, cum itaque totam natuss adipisci ea est commodi? Consequuntur voluptatem, voluptas debitis!</span>
        </p>
     </div>
     <div class="cell">

     </div>
     <div class="cell">
       <h3>Skills & Languages</h3>
        <div class="layout-grid">
          <div class="cell">
            <i class="fab fa-html5"></i>Html & CSS
          </div>
          <div class="cell">
           <i class="fab fa-js"></i>
             JavaScript
          </div>
          <dic class="cell">
           <i class="far fa-gem"></i>
             Ruby on Rails
          </dic>
          <div class="cell">
           <i class="fas fa-stream"></i>
             Web positioning SEO/SEM
          </div>
          <div class="cell">
           <i class="fas fa-paint-brush"></i>
             Design
          </div>
          <div class="cell">
           <i class="fas fa-language"></i>
             Spanish/French/Eh
          </div>
          <div class="cell">
           <i class="fas fa-hashtag"></i>
             Community management
          </div>
        </div>
     </div>

  </div>
</div>
  <div class="portfolio"  style="background-color: #E5E5E5;">
    <div class="container">
      <div class="layout-grid" style="padding: 50px 0px;">
        <div class="cell">
          <h2 style="margin: auto;">portfolio</h2>
          <img src="https://res.cloudinary.com/therainycloud/image/upload/v1577407107/Untitled_design_21_bpm3jf.png" alt="#">
        </div>
        <div class="cell" style="align-self: end;">
          <h3>AirLoan <i class="fab fa-html5"></i> <i class="fab fa-js"></i><i class="far fa-gem"></i></h3>
          <p>AirLoan is a peer to peer money lending platform for connected users who wish to borrow small amounts of money for a short period. It is hassle-less and has unbeatable interest costs. The website includes a reservation dashboard as well as a map search.</p>
        </div>
        <div class="cell" style="align-self: end;">
          <img src="https://res.cloudinary.com/therainycloud/image/upload/v1577456739/Untitled_design_23_xwcza8.png" alt="#">
        </div>
        <div class="cell" style="align-self: center;">
          <h3>Shuffle-jobs.com</h3>
          <p>Shuffle is a mobile first web app for young and versatile job-hunters who wish to connect with minutes al without the need of a CV.

          This app was built with tinder-like UX and a complex matching algorithm.</p>
        </div>
      </div>
      <div class="quote">
        <h3>My Favourite quote</h3>
        <p>Make sure to make friends who have swimming pools instead of buying one, it’s too expensive to maintain and you’ll never be able to afford it”
- My mom</p>
      </div>
    </div>

  </div>


