.banner {
  background: url(https://res.cloudinary.com/therainycloud/image/upload/v1577441112/evergreen-tips_ynwc6u.jpg);
  background-size: cover;
  background-position: right;
  height: 100vh;
  width: 100vw;
  padding: 42vh 0;
  position: relative;
}

.banner h1 {
  color: white;
}

.banner h2 {
  color: white;
}

.banner h3 {
  color: white;
}

.banner h4 {
  color: gray;
  border-left-style: solid;
}

.banner nav {
  position: absolute;
  bottom: 18px;
}


