.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #7d29e7;
  transition: background 0.3s ease;

  &:hover {
    background: rgb(105, 21, 211);
    color: white;
  }
}

.scroll {
  position: absolute;
  bottom: 5px;
  left: 50%;
  width: 85px;
  text-align: center;
}
.scroll i {
  color: black;
}
