.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #7d29e7;
  transition: background 0.3s ease;

  &:hover {
    background: rgb(105, 21, 211);
    color: white;
  }
}

.scroll {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.scroll i {
  color: black;
}
