.contact-form {
  display: flex;
  justify-content: center;
}
#mc_embed_signup{
  max-width: 69%;
  background:none;
  text-align-last: left;
}

#mc_embed_signup input {
  border-bottom-style: dotted;
  border-width: 1px;
}

#mce-DESCRI {
  height: 96px;
}
