.layout-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.cell h2 {
  float: right;
}

.cell img {
  width: 89%;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .layout-grid {
    grid-template-columns: 1fr;
  }
  .cell h2 {
  float: left;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .layout-grid {
    grid-template-columns: 1fr;
  }
  .cell h2 {
  float: left;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .layout-grid {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .layout-grid {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .layout-grid {
    grid-template-columns: 1fr 1fr;
  }
}
